---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import ProjectCard from '../components/ProjectCard.astro';

// Importa tu imagen aquí (asegúrate que el nombre coincida con tu archivo en src/assets/)
import capriImg from '../assets/cabra1.jpeg'; 
---

<Layout title="Leonardo Omeara | Data Analyst & Developer">
  <Navbar />
  
  <main class="max-w-5xl mx-auto px-6 pt-32">
    <header class="py-20 space-y-6">
      <h1 class="text-5xl md:text-7xl font-extrabold text-white tracking-tighter">
        Analista de datos <br/> <span class="text-blue-500">& Developer.</span>
      </h1>
      <p class="text-lg text-neutral-400 max-w-xl">
        Construyendo herramientas eficientes. De la interpretación de datos a la creación de aplicaciones nativas fluidas.
      </p>
    </header>

    <section id="proyectos" class="py-20">
      <h2 class="text-xs font-mono text-neutral-500 uppercase tracking-[0.3em] mb-12 italic">
        Proyectos Destacados _
      </h2>

      <div class="flex flex-col">
        <ProjectCard 
          title="CABRapp - Sistema de Inventario Caprino"
          description="App móvil de alto rendimiento para gestión ganadera. Incluye genealogía compleja, registro fotográfico optimizado y base de datos sincronizada con Supabase. Optimizada para carga instantánea de activos visuales."
          tags={["Flutter", "Supabase", "Dart", "Autenticación"]}
          image={capriImg}
        />
        <ProjectCard 
          title="Sitio Web Escondite para dos"
          description=""
          tags={["HTML", "CSS", "JavaScript"]}
          image={capriImg}
        />

        </div>
    </section>
  </main>
</Layout>